.container {
  max-width: 42rem;
  margin: 0px auto;
  padding: 1rem;
  min-height: 100vh;
}

.submit {
  border: 1px solid black;
  text-transform: uppercase;
  padding: 1rem;
  width: 5rem;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  transition-duration: 0.2s;
  cursor: pointer;
  color: #fff;
  background-color: rgb(40, 40, 40);
}

.fields {
  display: flex;
  flex-direction: column;
  height: 100px;
  margin-top: 1rem;
}

.error {
  margin: 0;
  margin-top: 0.5rem;
  color: #f15e6c;
}

.input {
  border: 1px solid black;
  padding: 0.5rem;
  flex: auto;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.label {
  margin-bottom: 0.5rem;
}

.wrapper {
  display: flex;
}
