.container {
  max-width: 42rem;
  margin: 0px auto;
  padding: 1rem;
  min-height: 100vh;
}

.fields {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.label {
  margin-bottom: 0.5rem;
  font-size: small;
  font-style: italic;
}

.wrapper {
  display: flex;
}

.input {
  border: 1px solid black;
  padding: 0.5rem;
  flex: auto;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  font-size: small;
}

.submit {
  border: 1px solid black;
  text-transform: uppercase;
  padding: 1rem;
  width: 6rem;
  border-radius: 0 12px 12px 0;
  cursor: pointer;
  color: #fff;
  background-color: rgb(40, 40, 40);
}

.error {
  margin: 0;
  margin-top: 0.5rem;
  color: #f15e6c;
}

.remove {
  border: 1px solid #f15e6c;
  text-transform: uppercase;
  padding: 1rem;
  width: 6rem;
  border-radius: 12px;
  cursor: pointer;
  color: #fff;
  background-color: #f15e6c;
}

.sharedBy {
  padding: 0.5em 0;
}

.sharedBy p {
  margin: 0;
}

.removeBtnContainer {
  display: flex;
  margin-bottom: 0.5rem;
}

.listBorder {
  border: 2px solid rgb(220, 220, 220);
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 12px;
}

.ul {
  padding: 0;
}
