.container {
  display: flex;
  justify-content: space-between;
}

.ul {
  display: flex;
  flex-direction: row;
  margin-left: 0px;
  align-items: center;
}

.li {
  padding-left: 1em;
  list-style-type: none;
}

.title {
  margin: auto 0;
}

.link:hover,
.link:focus,
.link:active {
  text-decoration: underline;
}
