.outerContainer {
  max-width: 42rem;
  margin: 0px auto;
  padding: 1rem;
  min-height: 100vh;
}

.container {
  max-width: 32rem;
  margin: 0px auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  justify-content: center;
}

.fields {
  display: flex;
  flex-direction: column;
}

.formElement {
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 0.5rem;
  font-size: small;
  font-style: italic;
}

.error {
  margin-top: 0.5rem;
  color: #f15e6c;
  font-size: small;
  font-style: italic;
}

.requestError {
  margin-top: 0.5rem;
  color: #f15e6c;
  font-size: medium;
  font-style: italic;
}

.input {
  border: 1px solid black;
  padding: 1rem;
  flex: auto;
  border-radius: 12px;
  font-size: medium;
}

.submit {
  border: 1px solid black;
  text-transform: uppercase;
  padding: 1rem;
  border-radius: 12px;
  cursor: pointer;
  color: #fff;
  background-color: rgb(40, 40, 40);
}
